<div class="home__container">
  <app-card
    gameCover="assets/gt-7.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 329,99"
    >
  </app-card>

  <app-card
    gameCover="assets/bf-5.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$ 269,99"
    >
  </app-card>

  <app-card
    gameCover="assets/gow.jpg"
    gameLabel="DELUXE EDITION"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 219,99"
    >
  </app-card>

  <app-card
    gameCover="assets/fifa23.jpeg"
    gameLabel="ULTIMATE EDITION"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 299,99"
    >
  </app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="STANDARD EDITION"
    gameType="DISC | PS3 | PS4"
    gamePrice="R$ 99,89"
    >
  </app-card>

  <app-card
    gameCover="assets/bf-1.jpg"
    gameLabel="SPECIAL EDITION"
    gameType="DISC | PS4 | PS5"
    gamePrice="R$ 209,99"
    >
  </app-card>
  <app-card
  gameCover="assets/spider-man.webp"
  gameLabel="REMASTERED EDITION"
  gameType="DIGITAL | PS4 | PS5"
  gamePrice="R$ 109,99"
  >
</app-card>

<app-card
  gameCover="assets/destiny2.jpg"
  gameLabel="DIGITAL"
  gameType="DISC | PS3 | PS4"
  gamePrice="R$ 79,99"
  >
</app-card>

<app-card
  gameCover="assets/bf-4.jpg"
  gameLabel="DIGITAL"
  gameType="DISC | PS3 | PS4"
  gamePrice="R$ 119,99"
  >
</app-card>

</div>
